body{
    background-color: slateblue;
    color: white;  
}

header#titulo{
    background-color: rgb(48, 3, 133);
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

section{
    
    color: rgb(48, 3, 133);
    background: white;
    border-radius: 10px;
    height: 350px;
    width: 350px;
    text-align: center;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
    
}

footer{
    text-align: center; 
       
}

h3{
    margin-top: 40%;

}